{% extends "site_base.html" %}

{% load bootstrap_tags %}
{% load sponsorship_tags %}
{% load thumbnail %}
{% load i18n %}

{% block head_title %}{{ sponsor }}{% endblock %}

{% block page_title %}{% trans "Sponsorship" %}{% endblock %}

{% block body %}
    <h2>{{ sponsor.name }} {% if sponsor.level %}({{ sponsor.level }}){% endif %}</h2>

    <div class="sponsor_details">
        <div><h3 class="sponsor_hdr">Sponsor Details</h3><a id="edit_link" href"">Edit Details</a></div>
        <div><label class="control-label">External URL: </label><span class = "sponsor-detail"> {{ sponsor.external_url }}</span></div>
        <div><label class="control-label">Primary Contact: </label><span class = "sponsor-detail"> {{ sponsor.contact_name}}, {{sponsor.contact_email }}</span></div>
        <div><label class="control-label">Invoice Contact: </label><span class = "sponsor-detail"> {{ sponsor.invoice_name}}, {{sponsor.invoice_email }}</span></div>
        <div><label class="control-label">Graphics Contact: </label><span class = "sponsor-detail"> {{ sponsor.graphics_name}}, {{sponsor.graphics_email }}</span></div>
    </div>

    <form enctype="multipart/form-data" method="POST" action="" class="form-horizontal edit_details">
        {% csrf_token %}
        <h3>Sponsor Details</h3>
        <fieldset>
            {{ form|as_bootstrap }}
        </fieldset>
        <div class="form-actions">
            <input class="btn btn-primary" type="submit" value="Save" />
            <a class="btn cancel_details" href="#">Cancel</a>
        </div>
    </form>

    {% if not sponsor.paid %}
    <div>
        {% if eb_ticket_url %}
            <h3>Sponsorship Balance</h3>
            <p>Submit payment for the balance of your sponsorship by following the link below. Once payment has been confirmed, you may begin adding/editing benefit assets.</p>
            <div><a href="{{eb_ticket_url}}" target="_blank">{{ eb_ticket_url }}</a></div>
        {% endif %}
    </div>
    {% endif %}

    <div class="sponsor_benefit_details">
        <div><h3 class="sponsor_hdr">Benefit Details</h3>{% if sponsor.paid %}<a id="edit_benefits_link" href"">Add/Edit Benefits</a>{% endif %}</div>
        {% for benefit in benefits %}
            {% if benefit.name == "Web Logo" %}
                <div><label class="control-label">{{ benefit }}</label><img src="{% thumbnail sponsor.website_logo '150x80' %}" alt="{{ sponsor.website_logo }}" /></div>
            {% elif benefit.name == "Print Logo" %}
                <div><label class="control-label">{{ benefit }}</label><img src="{% thumbnail sponsor.print_logo '150x80' %}" alt="{{ sponsor.print_logo }}" /></div>
            {% elif benefit.name == "Sponsor Description" %}
                <div><label class="control-label">{{ benefit }}</label><div style="margin:20px;">{{ sponsor.listing_text }}</div></div>
            {% else %}
                <div><label class="control-label">{{ benefit }}</label></div>
            {% endif %}
        {% endfor %}
    </div>

    <form enctype="multipart/form-data" method="POST" action="" class="form-horizontal edit_benefits">
        {% csrf_token %}
        <h3>{{ sponsor.level }} Sponsor Benefits</h3>

        {{ formset.management_form }}
        {{ formset.non_form_errors }}

        {% for form in formset.forms %}
        <div class="control-group">
            <label class="control-label">{{ form.instance.benefit }}</label>
                <div class="controls">
                    {{ form }}
                    <p class="help-block">{{ form.instance.benefit.description }}</p>
                </div>
            </div>
        {% endfor %}

        <div class="form-actions">
            <input class="btn btn-primary" type="submit" value="Save" />
            <a class="btn cancel_benefits" href="#">Cancel</a>
        </div>
    </form>

{% endblock %}
{% block extra_script %}
    <script type="text/javascript">
        $(function() {
            $(".edit_details").hide();
            $(".edit_benefits").hide();
            $("#edit_link").on('click', function () {
                $(".edit_details").toggle();
                return false;
            });
            $(".cancel_details").on('click', function () {
                $(".edit_details").hide();
            })
            $("#edit_benefits_link").on('click', function () {
                $(".edit_benefits").toggle();
                return false;
            });
            $(".cancel_benefits").on('click', function () {
                $(".edit_benefits").hide();
            });
        });
    </script>
{% endblock %}