<p>{{ contact_name }},</p>

<p>We're excited to have {{ sponsor }} on board as a sponsor for {{ event_name }}. As part of your sponsorship package, we're happy to extend the following discount on tickets for your team: {{ discount_code }}. You can apply your discount at <a href = "{{ event_url }}">{{ event_url }}</a>. If you require personal assistance, please feel free to email us at {{ event_contact_email }} or call {{ event_contact_phone }}. </p>

<p>See you at {{ event_name }}!</p>

<p>The Open Bastion</p>